<div class="main posts-new">
    <div class="container">
    <h1>タスクの登録</h1>
        <%= form_tag("/posts/create") do %>
            <input class="post-new-input" type="text" name="content" size="20" maxlength="20" placeholder="20文字以内に入力してね">
            <input class="post-new-btn" type="submit" value="登録">

        <% end %>
    </div>
</div>